// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.nav-logo {
  max-width: 136px!important;
  max-height: 56px!important;
}

.required-field-star {
  color: $red;
}
